<%- include("partials/header.ejs") %>
    <div class="box">
        <div class="todo-list">
            <% if(locals.day){%>
                <h1>
                    <%= day + ',  ' + month + ' ' + date %>
                </h1>
                 <% } %>
                 <form action="/delete"method="post">
                    <%listItems.forEach((item)=>{ %>
                        <div class="item">
                            <input type="checkbox" name="checkbox"value="<%= item._id%>" onchange="this.form.submit();" class="ipt-check">
                            <p>
                                <%= item.name %>
                            </p>
                        </div>
                   <% })%>
                </form>
        </div>

        <form class="item" action="/" method="post">
            <input type="text" name="newItem" placeholder="New Item" autocomplete="off" required />

            <button type="submit" name="list" value="<%= pageTitle === 'Work List' ? 'work' : 'work' %>">+</button>

        </form>
    </div>
    <%- include("partials/footer.ejs") %>